<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a href="/pcfbosh/index.html">Introduction to PCF BOSH</a>
      </li>
      <li class="has_submenu">
        <a href="/pcfbosh/overview/index.html">Overview</a>
        <ul>
          <li>
            <a href="/pcfbosh/overview/what-pcf.html">What is PCF?</a>
          </li>
          <li>
            <a href="/pcfbosh/overview/what-bosh.html">What is BOSH?</a>
          </li>
          <li>
            <a href="/pcfbosh/overview/what-pcf-bosh.html">What is PCF BOSH?</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/pcfbosh/installing/index.html">Installing and Configuring</a>
        <ul>
          <li>
            <a href="/pcfbosh/installing/prepare-env.html">Preparing Your Environment</a>
          </li>
          <li>
            <a href="/pcfbosh/installing/deploy-director.html">Deploying the BOSH Director</a>
          </li>
          <li>
            <a href="/pcfbosh/installing/cloud-config.html">Applying the Cloud Config</a>
          </li>
          <li>
            <a href="/pcfbosh/installing/upload-stemcell.html">Uploading the Stemcell</a>
          </li>
          <li>
            <a href="/pcfbosh/installing/ert.html">Configuring and Installing Elastic Runtime</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/pcfbosh/managing/index.html">Managing and Troubleshooting</a>
        <ul>
          <li>
            <a href="/pcfbosh/managing/ssh.html">SSHing into BOSH-Deployed Instances</a>
          </li>
          <li>
            <a href="/pcfbosh/managing/creds.html">Discovering Credentials</a>
          </li>
          <li>
            <a href="/pcfbosh/managing/logs.html">Retrieving Logs</a>
          </li>
          <li>
            <a href="/pcfbosh/managing/tasks.html">Monitoring BOSH Director Tasks</a>
          </li>
          <li>
            <a href="/pcfbosh/managing/status.html">Monitoring BOSH Deployment Status</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/pcfbosh/upgrading/index.html">Upgrading</a>
        <ul>
          <li>
            <a href="/pcfbosh/upgrading/upgrade-bosh.html">Upgrading the BOSH Director</a>
          </li>
          <li>
            <a href="/pcfbosh/upgrading/upgrade-ert.html">Upgrading Elastic Runtime</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/pcfbosh/automating/index.html">Automating</a>
        <ul>
          <li>
            <a href="/pcfbosh/automating/pipeline.html">Building a Pipeline</a>
          </li>
        </ul>
      </li>

  </div>
</div><!--end of sub-nav-->
