---
title: Introduction to PCF BOSH
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

PCF BOSH is a <a href="https://bosh.io/">BOSH</a>-native experience for deploying <a href="https://pivotal.io/platform">Pivotal Cloud Foundry (PCF)</a>.

## Overview

The Overview section explains what PCF BOSH is and how it works.

* <a href="/pcfbosh/overview/what-pcf.html">What is PCF?</a>
* <a href="/pcfbosh/overview/what-bosh.html">What is BOSH?</a>
* <a href="/pcfbosh/overview/what-pcf-bosh.html">What is PCF BOSH?</a>

## Configuring and Installing

This section describes a series of discrete steps for configuring and installing BOSH, and using BOSH to configure and install PCF Elastic Runtime and MySQL for PCF.

Instead of performing the procedures manually, you can also automate the configuration and installation process with continuous delivery pipelines. See the <a href="#automating">Automating</a> section below for more information.

To install and configure PCF BOSH, perform the procedures in the following topics:

* Step 1: <a href="/pcfbosh/installing/prepare-env.html">Preparing Your Environment</a>
* Step 2: <a href="/pcfbosh/installing/deploy-director.html">Deploying the BOSH Director</a>
* Step 3: <a href="/pcfbosh/installing/cloud-config.html">Applying the Cloud Config</a>
* Step 4: <a href="/pcfbosh/installing/upload-stemcell.html">Uploading the Stemcell</a>
* Step 5: <a href="/pcfbosh/installing/ert.html">Configuring and Installing Elastic Runtime</a>
* Step 6: <a href="/pcfbosh/installing/running-errands-ert.html">Running Errands in Elastic Runtime</a>

To install and configure MySQL for PCF, perform the procedures in the following topics:

* Step 1: <a href="/pcfbosh/installing/p-mysql.html">Configuring and Installing MySQL for PCF</a>
* Step 2: <a href="/pcfbosh/installing/running-errands-mysql.html">Running Errands in MySQL for PCF</a>

## Managing and Troubleshooting

The Managing and Troubleshooting section describes how to manage a PCF BOSH deployment and how to troubleshoot issues that arise when installing or running a deployment.

* <a href="./managing/ssh.html">SSHing into BOSH-Deployed Instances</a>
* <a href="./managing/creds.html">Discovering Credentials</a>
* <a href="./managing/logs.html">Retrieving Logs</a>
* <a href="/pcfbosh/managing/tasks.html">Monitoring BOSH Director Tasks</a>
* <a href="./managing/status.html">Monitoring BOSH Deployment Status</a>

## Upgrading

The Upgrading section explains how to upgrade the components of PCF BOSH from one version to another.

* <a href="./upgrading/upgrade-bosh.html">Upgrading the BOSH Director</a>
* <a href="./upgrading/upgrade-ert.html">Upgrading Elastic Runtime</a>

## Automating

The Automating section describes how to automate the configuration and installation of a PCF Elastic Runtime deployment with a continuous integration and continuous delivery (CI/CD) solution called <a href="https://concourse.ci/">Concourse</a>.

Perform the procedures in the following topics to create a CI/CD pipeline to automate your PCF Elastic Runtime deployment:

* <a href="./automating/pipeline.html">Building a Pipeline</a>
