---
title: Introduction to PCF BOSH
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

PCF BOSH is a BOSH-native experience for deploying Pivotal Cloud Foundry (PCF), a cloud computing platform as a service.

## Overview

The Overview section explains what PCF BOSH is and how it works.

* <a href="/pcfbosh/overview/what-pcf.html">What is PCF?</a>
* <a href="/pcfbosh/overview/what-bosh.html">What is BOSH?</a>
* <a href="/pcfbosh/overview/what-pcf-bosh.html">What is PCF BOSH?</a>

## Installing and Configuring

The Installing and Configuring section describes how to install and configure PCF BOSH. Each topic captures a discrete step in the deployment procedure. After completing the final topic, you will have successfully deployed PCF BOSH.

Instead of performing the procedures manually, you can also automate the installation and configuration process with CI/CD pipelines. See the <a href="#automating">Automating</a> section below for more information.

* Step 1: <a href="/pcfbosh/installing/prepare-env.html">Preparing Your Environment</a>
* Step 2: <a href="/pcfbosh/installing/deploy-director.html">Deploying the BOSH Director</a>
* Step 3: <a href="/pcfbosh/installing/update-director.html">Updating the BOSH Director with Cloud Resources Data</a>
* Step 4: <a href="/pcfbosh/installing/upload-stemcell.html">Uploading the Stemcell</a>
* Step 5: <a href="/pcfbosh/installing/ert.html">Configuring and Installing Elastic Runtime</a>

## Managing and Troubleshooting

The Managing and Troubleshooting section describes how to manage a PCF BOSH deployment and how to troubleshoot issues that arise when installing or running a deployment.

* <a href="/pcfbosh/managing/ssh.html">SSHing into BOSH-Deployed Instances</a>
* <a href="/pcfbosh/managing/creds.html">Discovering Credentials</a>
* <a href="/pcfbosh/managing/logs.html">Retrieving Logs</a>
* <a href="/pcfbosh/managing/tasks.html">Monitoring BOSH Director Tasks</a>
* <a href="/pcfbosh/managing/status.html">Monitoring BOSH Deployment Status</a>

## Upgrading

The Upgrading section explains how to upgrade the components of PCF BOSH from one version to another.

* <a href="/pcfbosh/upgrading/upgrade-bosh.html">Upgrading the BOSH Director</a>
* <a href="/pcfbosh/upgrading/upgrade-ert.html">Upgrading Elastic Runtime</a>

## Automating

The Automating section describes how to automate the installation and configuration of a PCF BOSH deployment with a CI/CD solution called Concourse.

* <a href="/pcfbosh/automating/pipelines.html">Building a Pipeline</a>



