---
title: Introduction to PCF BOSH
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

##<a id='overview'></a> Overview

PCF BOSH is a BOSH-native experience for deploying Pivotal Cloud Foundry (PCF), a cloud computing platform as a service.

###<a id='pcf'></a> What is PCF?

###<a id='bosh'></a> What is BOSH?

###<a id='pcf-bosh'></a> What is PCF BOSH?

##<a id='installing'></a> Installing and Configuring

Perform the procedures in the following topics to install and configure PCF BOSH:

* Step 1: <a href="/pcfbosh/installing/deploy-director.html">Deploying the BOSH Director</a>
* Step 2: <a href="/pcfbosh/installing/update-director.html">Updating the BOSH Director with Cloud Resources Data</a>
* Step 3: <a href="/pcfbosh/installing/upload-stemcell.html">Uploading the Stemcell</a>
* Step 4: <a href="/pcfbosh/installing/ert.html">Configuring and Installing Elastic Runtime</a>

##<a id='managing'></a> Managing and Troubleshooting

Refer to the following topics for information about how to manage and troubleshoot PCF BOSH.

* <a href="/pcfbosh/managing/ssh.html">SSHing into BOSH-Deployed Instances</a>
* <a href="/pcfbosh/managing/creds.html">Discovering Credentials</a>
* <a href="/pcfbosh/managing/logs.html">Retrieving Logs</a>
* <a href="/pcfbosh/managing/tasks.html">Monitoring BOSH Director Tasks</a>
* <a href="/pcfbosh/managing/status.html">Monitoring BOSH Deployment Status</a>

##<a id='upgrading'></a> Upgrading

Perform the procedures in the following topics to upgrade PCF BOSH:

* <a href="/pcfbosh/upgrading/upgrade-bosh.html">Upgrading the BOSH Director</a>
* <a href="/pcfbosh/upgrading/upgrade-ert.html">Upgrading Elastic Runtime</a>

##<a id='automating'></a> Automating

Refer to the following topics for information about how to automate your PCF BOSH deployment:

* <a href="/pcfbosh/automating/pipelines.html">Building a Pipeline</a>



