---
title: Managing and Troubleshooting
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

The topics in this section describe how to manage and troubleshoot PCF BOSH.

* <a href="/pcfbosh/managing/ssh.html">SSHing into BOSH-Deployed Instances</a>
* <a href="/pcfbosh/managing/creds.html">Discovering Credentials</a>
* <a href="/pcfbosh/managing/logs.html">Retrieving Logs</a>
* <a href="/pcfbosh/managing/tasks.html">Monitoring BOSH Director Tasks</a>
* <a href="/pcfbosh/managing/status.html">Monitoring BOSH Deployment Status</a>
