---
title: Deploying the BOSH Director
owner: BOSH-Native PCF
---

<strong><%= modified_date %></strong>

This topic describes how to deploy the BOSH Director with a User Account and Authentication (UAA) server and CredHub.

To perform the procedures in this topic, you must have completed the steps in [Preparing Your Environment](prepare-env.html). After finishing this topic, continue to [Applying the Cloud Config](cloud-config.html). 

<p class="note"><strong>Note</strong>: To automate deploying the BOSH Director with UAA and CredHub, see the <a href="../automating/pipeline.html#deploy-director">Deploy the BOSH Director</a> section of the <em>Building a Pipeline</em> topic.</p>

##<a id='overview'></a> Overview

This topic discusses the following components:

* The **BOSH Director** is the core orchestrating component in BOSH. The Director controls VM creation and deployment, as well as other software and service lifecycle events. For more information, see the [BOSH documentation](https://bosh.io/docs/bosh-components.html#director). 

* **UAA** is a multi-tenant identity management service. By integrating with UAA, the BOSH Director delegates user management to the UAA server. For more information about UAA, see its GitHub [repo](https://github.com/cloudfoundry/uaa).

* **CredHub** is a [BOSH release](https://bosh.io/docs/release.html) that integrates with the BOSH Director to handle credential generation and management. For more information about CredHub, see its GitHub [repo](https://github.com/pivotal-cf/credhub-release).

##<a id='download-cli'></a> Step 1: Download the BOSH CLI

The procedures in this topic and the rest of the <em>Installing and Configuring</em> topics require the BOSH CLI v2. See the [BOSH documentation](https://bosh.io/docs/cli-v2.html#install) for instructions on how to install the most recent BOSH CLI v2.

##<a id='deploy'></a> Step 2: Deploy

See the `bosh-deployment` GitHub [repo](https://github.com/cloudfoundry/bosh-deployment) for instructions on how to deploy the BOSH Director with UAA using the `bosh create-env` command. The specific procedure will vary depending on your IaaS.
  		  
##<a id='alias'></a> Step 3: Alias Your BOSH Director

The `bosh create-env` command generates a number of variables referenced by the BOSH deployment manifest and stores them in the variables store file. One of the generated variables is the CA certificate that the deployed BOSH Director uses for TLS. 

To alias your BOSH Director, use `bosh interpolate` to extract the CA certificate from the variables store and pass it to `bosh alias-env`:

<pre class="terminal">$ bosh alias-env bosh-1 -e DIRECTOR_ADDRESS \
	--ca-cert <(bosh interpolate ./creds.yml --path /director_ssl/ca)
</pre>

After aliasing your BOSH Director, the BOSH CLI associates that alias with an endpoint and a CA certificate. In the future, you can refer to your BOSH Director by its alias with the `-e` flag.

##<a id='credhub'></a> Step 4: Configure CredHub

See the CredHub GitHub [repo](https://github.com/pivotal-cf/credhub-release/wiki/CredHub-Integration-with-BOSH-Director-Configuration-Guide) for a guide that describes how to integrate CredHub with the BOSH Director. The CredHub GitHub repo is not currently public, so you may need to request access from Pivotal.

##<a id='login'></a> Step 5: Log In

Ensure that you can log in to your BOSH Director.

Use the credentials in your variables store, specifying your alias with the `-e` flag:

<pre class="terminal">$ bosh log-in -e bosh-1
Your username: director
Enter password: 
Logged in as 'director'
</pre>

After successfully deploying the BOSH Director with UAA and CredHub, continue to the [Applying the Cloud Config](cloud-config.html) topic.
