---
title: Deploying the BOSH Director
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

This topic describes how to deploy the BOSH Director with a User Account and Authentication (UAA) server and CredHub.

To perform the procedures in this topic, you must have completed the steps in [Preparing Your Environment](prepare-env.html). After finishing this topic, continue to [Updating the BOSH Director with Cloud Resources Data](update-director.html). 

<p class="note"><strong>Note</strong>: To automate deploying the BOSH Director with UAA and CredHub, see the <a href="../automating/pipeline.html#deploy-director">Deploy the BOSH Director</a> section of the <em>Building a Pipeline</em> topic.</p>

##<a id='overview'></a> Overview

This topic discusses the following components:

* The **BOSH Director** is the core orchestrating component in BOSH. The Director controls VM creation and deployment, as well as other software and service lifecycle events. For more information, see the [BOSH documentation](https://bosh.io/docs/bosh-components.html#director). 

* **UAA** is a multi-tenant identity management service. By integrating with UAA, the BOSH Director delegates user management to the UAA server. For more information about UAA, see its GitHub [repo](https://github.com/cloudfoundry/uaa).

* **CredHub** is a [BOSH release](https://bosh.io/docs/release.html) that integrates with the BOSH Director to handle credential generation and management. For more information about CredHub, see its GitHub [repo](https://github.com/pivotal-cf/credhub-release).

##<a id='deploy'></a> Deploy

You can deploy the BOSH Director with UAA and CredHub in one step. 

See the `bosh-deployment` GitHub [repo](https://github.com/cloudfoundry/bosh-deployment) to deploy the BOSH Director with UAA.

See the CredHub GitHub [repo](https://github.com/pivotal-cf/credhub-release/wiki/CredHub-Integration-with-BOSH-Director-Configuration-Guide) for a guide that describes how to integrate CredHub with the BOSH Director. The CredHub GitHub repo is not currently public, so you may need to request access from Pivotal.

After successfully deploying the BOSH Director with UAA and CredHub, continue to the [Applying the Cloud Config](cloud-config.html) topic.
