---
title: Configuring and Installing Elastic Runtime
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

This topic describes how to configure and install Elastic Runtime.

To perform the procedures in this topic, you must have completed the steps in [Preparing Your Environment](prepare-env.html), [Deploying the BOSH Director](deploy-director.html), [Applying the Cloud Config](cloud-config.html), and [Uploading the Stemcell](upload-stemcell.html). After finishing this topic, continue to [Running Errands](running-errands.html). 

<p class="note"><strong>Note</strong>: To automate deploying Elastic Runtime, see the <a href="../automating/pipeline.html#ert">Deploy Elastic Runtime</a> section of the <em>Building a Pipeline</em> topic.</p>

## <a id='ops-files'></a>Step 1: Select Your Ops Files

Ops files specify operations to perform on the Cloud Foundry deployment [manifest](https://github.com/cloudfoundry/cf-deployment/blob/master/cf-deployment.yml#0.0.0) that you downloaded in the [Uploading the Stemcell](upload-stemcell.html) topic. 

You can use ops files to configure the manifest for Elastic Runtime by adding Pivotal defaults, [errands](https://bosh.io/docs/terminology.html#errand), and [releases](https://bosh.io/docs/terminology.html#release) to your deployment.

The following table lists the available ops files and describes the functionality they add to your deployment. The table also specifies whether an ops file is required, recommended, or optional. Visit the `p-ert-bosh-experiment` GitHub [repo](https://github.com/pivotal-cf/p-ert-bosh-experiment) to view all available ops files. 

<table>
<tr>
<th>Name</th>
<th>Purpose</th>
<th>Status</th>
</tr>
<td><a href="https://github.com/pivotal-cf/p-ert-bosh-experiment/blob/master/pivotal-defaults.yml">Pivotal defaults</a></td>
<td>This ops file customizes the Cloud Foundry deployment manifest with Elastic Runtime defaults for values such as the number of Diego cell instances or the default application security group.</td>
<td>Required</td>
</tr>
<td><a href="https://github.com/pivotal-cf/p-ert-bosh-experiment/blob/master/errands/smoke-tests.yml">Smoke tests</a></td>
<td>This ops file adds the smoke tests errand to your deployment. The smoke tests errand runs basic functionality tests against Elastic Runtime.</td>
<td>Recommended</td>
</tr>
<tr>
<td><a href="https://github.com/pivotal-cf/p-ert-bosh-experiment/blob/master/mysql-monitoring.yml">MySQL Monitoring release</a></td>
<td>This ops file installs the MySQL Monitoring release. The release monitors your MySQL cluster to validate that replication is working across nodes and provides notifications over e-mail if it detects a replication failure. Install this release only if you are using MySQL in your deployment.</td>
<td>Optional</td>
</tr>
</table>

## <a id='deploy'></a>Step 2: Install Elastic Runtime

To install Elastic Runtime, you use the BOSH CLI to deploy the Cloud Foundry deployment manifest and specify your ops files, variables file, and additional variables.

Perform the following steps to install Elastic Runtime:

1. [Download](https://github.com/cloudfoundry/cf-release/releases/tag/v246) the tarballed source code for Cloud Foundry version 246.
1. [Download](https://github.com/pivotal-cf/p-ert-bosh-experiment/blob/master/releases.yml) the `releases-yml` ops file. Edit this file to reflect only the releases you want to install.
	<p class="note"><strong>Note</strong>: Installing a release requires both an ops file and a tarballed release. The tarballed releases are not currently available from an official distribution channel.</p>
1. Ensure that you are logged in to your BOSH Director.
1. Deploy Elastic Runtime. The following example includes all available ops files, along with their required variables. Your exact deploy command may be different depending on the functionality you want to add. Refer to the above [section](#ops-files) for more information.

	<pre class="terminal">
	$ bosh -n deploy cf-deployment/cf-deployment.yml \
	  --deployment cf \
	  --ops-file releases.yml \
	  --ops-file pivotal-defaults.yml \
	  --ops-file mysql-proxy.yml \
	  --ops-file mysql-monitoring.yml \
	  --ops-file /errands/smoke-tests.yml \
	  --ops-file /errands/push-apps-manager.yml \
	  --ops-file /errands/deploy-notifications.yml \
	  --ops-file /errands/deploy-notifications-ui.yml \
	  --ops-file /errands/deploy-autoscaling.yml \
	  --ops-file /errands/autoscaling-register-broker.yml \
	  --ops-file /errands/autoscaling-destroy-broker.yml \
	  --ops-file /errands/push-pivotal-account.yml \
	  --ops-file /errands/mysql-recovery/bootstrap.yml \
	  --ops-file /errands/mysql-recovery/rejoin-unsafe.yml \
	  --var "system_domain=sys.example.com" \
	  --var "apps_domain=apps.example.com" \
	  --var "cf_release_path=cf-246*.tgz" \
	  --var "cf_release_version=246.0.2" \
	  --var "postgres_release_path=postgres*.tgz" \
	  --var "postgres_release_version=8" \
	  --var "notifications_release_path=notifications-31*.tgz" \
	  --var "notifications_release_version=31" \
	  --var "notifications_ui_release_path=notifications-ui*.tgz" \
	  --var "notifications_ui_release_version=26" \
	  --var "cf_autoscaling_release_path=cf-autoscaling*.tgz" \
	  --var "cf_autoscaling_release_version=67" \
	  --var "push_apps_manager_release_path=push-apps-manager*.tgz" \
	  --var "push_apps_manager_release_version=659.7" \
	  --var "mysql_monitoring_release_path=mysql-monitoring*.tgz" \
	  --var "mysql_monitoring_release_version=6" \
	  --var "mysql_backup_release_path=mysql-backup*.tgz" \
	  --var "mysql_backup_release_version=1.28.0" \
	  --var "pivotal_account_release_path=pivotal-account*.tgz" \
	  --var "pivotal_account_release_version=1" \
	  --var "service_backup_release_path=service-backup*.tgz" \
	  --var "service_backup_release_version=17.2.0"
	</pre>

	<p class="note"><strong>Note</strong>: The first time you run the command, BOSH generates credentials and loads them into a variables store file called <code>cf-creds.yml</code>. The next time you run the command, you must pass in this file with the <code>--vars-store</code> flag.</p>

After the deployment finishes, continue to the [Running Errands](running-errands.html) topic.

