---
title: Installing and Configuring
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

The topics in this section describe how to install and configure PCF BOSH. To automate the installation and configuration process with CI/CD pipelines, see the <a href="../automating/index.html">Automating</a> section.</p>

To install and configure PCF BOSH, perform the procedures in the following topics:

* Step 1: <a href="/pcfbosh/installing/prepare-env.html">Preparing Your Environment</a>
* Step 2: <a href="/pcfbosh/installing/deploy-director.html">Deploying the BOSH Director</a>
* Step 3: <a href="/pcfbosh/installing/cloud-config.html">Applying the Cloud Config</a>
* Step 4: <a href="/pcfbosh/installing/upload-stemcell.html">Uploading the Stemcell</a>
* Step 5: <a href="/pcfbosh/installing/ert.html">Configuring and Installing Elastic Runtime</a>
* Step 6: <a href="/pcfbosh/installing/running-errands.html">Running Errands</a>