---
title: Running Errands in Elastic Runtime
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

This topic describes how to run errands in Elastic Runtime. You installed errands on your deployment by using ops files in the procedures described in the [Configuring and Installing Elastic Runtime](ert.html) topic.

To perform the procedures in this topic, you must have completed the steps in [Preparing Your Environment](prepare-env.html), [Deploying the BOSH Director](deploy-director.html), [Applying the Cloud Config](cloud-config.html), [Uploading the Stemcell](upload-stemcell.html) and [Configuring and Installing Elastic Runtime](ert.html). 

##<a id='understand-errands'></a> Understand Errands ##

The following table provides information about the errands provided by the available [ops files](#ops-files):

<table>
<tr>
<th>Errand</th>
<th>Purpose</th>
<th>Frequency</th>
</tr>
<tr>
<td>Smoke Tests</td>
<td>The smoke tests errand runs basic functionality tests against Elastic Runtime.</td>
<td><ul><li>Running the smoke test errand after each deploy is <strong>recommended</strong>.</li> <li>Running the smoke test errand regularly is <strong>optional</strong>.</li></td>
</tr>
<tr>
<td>Push Apps Manager</td>
<td>The Push Apps Manager errand installs <a href="https://docs.pivotal.io/pivotalcf/console/index.html">Apps Manager</a> on your deployment.</td>
<td><ul><li>Running the Push Apps Manager errand after each deploy is <strong>recommended</strong>.</li></ul></td>
</tr>
<tr>
<td>Deploy Notifications</td>
<td>The Deploy Notifications errand installs the Notifications release on your deployment.</td>
<td><ul><li>Running the Deploy Notifications errand after each deploy is <strong>recommended</strong>.</li></ul></td>
</tr>
<tr>
<td>Deploy Notifications UI</td>
<td>The Deploy Notifications UI errand installs the Notifications UI release on your deployment.</td>
<td><ul><li>Running the Deploy Notifications UI errand after each deploy is <strong>recommended</strong>.</li></ul></td>
</tr>
<tr>
<td>Deploy Autoscaling</td>
<td>The Deploy Autoscaling errand installs the Autoscaling release on your deployment.</td>
<td><ul><li>Running the Deploy Autoscaling errand after each deploy is <strong>recommended</strong>.</li></ul></td>
</tr>
<tr>
<td>Autoscaling Register Broker</td>
<td>The Autoscaling Register Broker errand registers the Autoscaler service on the <a href="https://docs.pivotal.io/pivotalcf/devguide/services/managing-services.html">marketplace</a>.</td>
<td><ul><li>Running the Autoscaling Register Broker after each deploy is <strong>recommended</strong>.</li></ul></td>
</tr>
<tr>
<td>Autoscaling Destroy Broker</td>
<td>The Autoscaling Destroy Broker errand removes the Autoscaler service from the marketplace.</td>
<td><ul><li>Only run the Autoscaling Destroy Broker if you want to remove the Autoscaler service from the marketplace.</li></ul></td> 
</tr>
<tr>
<td>Push Pivotal Account</td>
<td>The Push Pivotal Account errand installs <a href="https://docs.pivotal.io/pivotalcf/opsguide/pivotal-account.html">Pivotal Account</a> on your deployment.</td>
<td><ul><li>Running the Push Pivotal Account errand after each deploy is <strong>recommended</strong>.</li></ul></td> 
</tr>
<tr>
<td>MySQL Recovery Bootstrap</td>
<td>The MySQL Recovery Bootstrap errand restarts a MySQL Galera cluster.</td>
<td><ul><li>Only run the MySQL Recovery Bootstrap errand if a cluster has lost quorum.</li></ul></td> 
</tr>
<tr>
<td>MySQL Rejoin Unsafe</td>
<td>The MySQL Rejoin Unsafe errand forces a node to rejoin a cluster.</td>
<td><ul><li>Only run the MySQL Rejoin Unsafe errand if a node falls out of sync with the cluster.</li></ul></td>
</tr>
</table>

##<a id="view-errands"></a> View Errands ##

To view the errands installed on your deployment, run the following command:

<pre class="terminal">
$ bosh errands -d cf

Using environment 'example.com' as 'director'

Using deployment 'cf'

Name
autoscaling-destroy-broker
autoscaling-register-broker
deploy-autoscaling
deploy-notifications
deploy-notifications-ui
mysql-bootstrap
mysql-rejoin-unsafe
push-apps-manager
push-pivotal-account
smoke-tests

10 errands

Succeeded
</pre>

<p class="note"><strong>Note</strong>: The specific output will look different depending on the errands you have installed.</p>

##<a id='run-errand'></a> Run an Errand ##

To run an errand, perform the following command:

<pre class="terminal">$ bosh run errand ERRAND-NAME</pre>

Use the following optional flags:

* `--download-logs`
* `--logs-dir DESTINATION-DIRECTORY`