---
title: Building the Reference Pipeline
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

This topic provides a reference Concourse pipeline configuration to automate your PCF BOSH deployment, and explains what each part of the pipeline does.

##<a id='reqs'></a> Requirements

You must do the following before building the reference  pipeline:

* Deploy a BOSH-managed Concourse by completing the procedures in the [Deploy Concourse](deploy-concourse.html) topic.
* [Download](https://concourse.ci/downloads.html) `fly`, the CLI tool for Concourse. If you are on Linux or OS X, you must `chmod +x` the downloaded binary and put it in your `$PATH`.
* [Download](pipeline.yml) the YAML file that contains the reference pipeline configuration. This is the reference pipeline described in the sections below. You can further customize the configuration to meet your needs.
* Create a GitHub repo to host your Concourse pipeline configuration.
* Create a Docker Hub repo to host a Docker image.

Steps: Download the YAML.
Make a credentials file.
Make a Dockerfile.
Push the YAML as a pipeline.

