---
title: Deploying Concourse
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

This topic describes how to deploy Concourse, a CI/CD pipeline solution. For more information about Concourse, see the [documentation](https://concourse.ci/introduction.html)

Concourse enables you to automate your PCF BOSH deployment. After deploying Concourse by performing the procedures below, continue to the [Building a Pipeline](build-pipeline.html) topic.

##<a id='bosh'></a> Step 1: Deploy a BOSH Director

To deploy a BOSH-managed Concourse pipeline, you must first deploy a BOSH Director. Perform the following steps:

1. Initialize your environment and use `bosh-init` to create a BOSH Director. The steps will vary depending on your IaaS. Follow the instructions specific to your IaaS in the [Initializing an environment](https://bosh.io/docs/init.html) topic in the BOSH documentation.

1. After creating the BOSH Director, you must create your cloud config and update your Director with it. The cloud config is a YAML file that defines IaaS-specific configuration used by the Director and all deployments. See the example cloud config file specific to your IaaS in the [Cloud Config](https://bosh.io/docs/cloud-config.html#example) topic in the BOSH documentation, and customize it as needed.

1. After creating a cloud config file, use the following command to update your BOSH Director with it:
	<pre class="terminal">$ bosh update cloud-config YOUR-CLOUD-CONFIG.yml</pre> 
	<p class="note"><strong>Note</strong>: You must have <a href="https://bosh.io/docs/sysadmin-commands.html#director">targeted and logged in</a> to the BOSH Director with the BOSH CLI to update your cloud config.</p>

1. Locate the [stemcell](https://bosh.io/stemcells) specific to your IaaS. A stemcell is the base image that the BOSH Director uses for the VMs it manages. A stemcell includes a bare OS skeleton with a few utilities and configuration files installed.

1. Upload the stemcell to the BOSH Director, specifying the URL of the stemcell. The following example uploads the AWS Xen 3312.7 stemcell:
	<pre class="terminal">$ bosh upload stemcell <span>https</span>://s3.amazonaws.com/bosh-core-stemcells/aws/bosh-stemcell-3312.7-aws-xen-ubuntu-trusty-go_agent.tgz</pre>

##<a id='concourse'></a> Step 2: Deploy Concourse

After deploying a BOSH Director, you can create a BOSH-managed Concourse deployment. Perform the following steps:

1. Retrieve the download URL of the latest [Concourse BOSH release](https://bosh.io/releases/github.com/concourse/concourse).

1. Upload the release to the BOSH Director, specifying the URL of the URL of the release. The following example uploads Concourse 2.5.0:
	<pre class="terminal">$ bosh upload release <span>https</span>://bosh.io/d/github.com/concourse/concourse?v=2.5.0</pre>

1. Make a BOSH deployment manifest for Concourse. A deployment manifest is a YAML file that specifies the combination of stemcells, releases, and configuration properties that the BOSH Director uses to create a deployment. For more information, see the [What is a Deployment?](https://bosh.io/docs/deployment.html) topic in the BOSH documentation.
	<br><br>
	To build your BOSH deployment manifest, consult the [example manifest](https://concourse.ci/clusters-with-bosh.html) in the Concourse documentation and customize it as needed. The VM types, VM extensions, persistent disk type, and network names must match your cloud config.

1. Set your current deployment in the BOSH CLI to your new Concourse deployment manifest:
	<pre class="terminal">$ bosh deployment YOUR-CONCOURSE-MANIFEST.YML</pre>
1. Deploy Concourse:
	<pre class="terminal">$ bosh deploy</pre>
1. After the deploy command completes, list your deployments to confirm that Concourse has successfully deployed:
	<pre class="terminal">$ bosh deployments</pre>
1. Continue to the [Building a Pipeline](build-pipeline.html) topic.