---
title: Automating
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

The topics in this section describe how to automate your PCF deployment installation and upgrades. To perform these steps manually, see the [Installing and Configuring](../installing/index.html) and [Upgrading](../upgrading/index.html) sections.

* <a href="fresh-pipeline.html">Building a Fresh Deploy Pipeline</a>

To build an upgrade pipeline keeps your PCF components up to date with the latest versions and does not run destructive tests, see the [Building an Upgrade Pipeline](upgrade-pipeline.html) topic. This pipeline is better suited for production purposes than the fresh deploy pipeline.