---
title: Automating
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

The topics in this section describe how to automate your PCF deployment.

* Step 1: <a href="deploy-concourse.html">Deploying Concourse</a>
* Step 2: <a href="build-pipeline.html">Building a Pipeline</a>