---
title: Building a Pipeline
owner: PCF BOSH
---

<strong><%= modified_date %></strong>

This topic provides a reference [Concourse](https://concourse.ci/introduction.html) pipeline configuration to automate your PCF BOSH deployment, and explains what each part of the pipeline does.

Concourse is a CI/CD solution. For more information about installing Concourse, see the [documentation](https://concourse.ci/installing.html).

##<a id='understand'></a> Understand Concourse Pipelines

A Concourse pipeline is a collection of jobs and resources. Jobs determine the actions performed by the pipeline, while resources are the objects used by those jobs. For more information, see the [Mechanics of a Pipeline](https://concourse.ci/pipeline-mechanics.html) topic in the Concourse documentation.

View the reference pipeline at the PCF BOSH CI GitHub [repo](https://github.com/pivotal-cf/pcf-bosh-ci). This repo includes YAML files, scripts, a Dockerfile, and the other configuration  needed to build the reference pipeline. 

The Concourse web interface visualizes the pipeline configuration as a series of jobs and resources. In the web interface, the reference pipeline looks like the following: 

<a href="./images/pipeline.png"><%= image_tag('pipeline.png') %></a>

<p class="note"><strong>Note</strong>: Click <a href="./images/pipeline.png">here</a> to see a larger version of this image.</p>

The following sections explain what each part of the pipeline does, proceeding from left to right. Each section corresponds to a set of manual steps described in the [Installing and Configuring](../installing/) topics.

##<a id='prepare'></a> Prepare Your Environment

The first part of the pipeline prepares your environment for PCF BOSH.

<%= image_tag('pipeline-prepare-env.png') %>

This part of the pipeline contains the following jobs:

* `terraform-up` executes a set of Terraform scripts to prepare a Google Cloud Platform (GCP) environment for PCF BOSH by creating the required resources. The job runs against the following resources:

	* `terraform-vars` is the Terraform variables file that contains information about the GCP environment such as the environment name, the region, and the service account key. In the reference pipeline, this file is retrieved from a Google Cloud Storage bucket.
	* `terraforming-gcp` is the set of Terraform scripts that the job runs, loading variables from the `terraform-vars` file. These scripts are retrieved from the PCF BOSH Terraforming GCP GitHub [repo](https://github.com/pivotal-cf/pcf-bosh-terraforming-gcp).

	<p class="note"><strong>Note</strong>: To prepare your environment with Terraform scripts manually, see the <a href="../installing/prepare-env.html">Preparing Your Environment</a> topic.</p>

* `minimal-docker-image` builds a Docker image against the `minimal-dockerfile` resource, which is a Dockerfile in the PCF BOSH CI GitHub [repo](https://github.com/pivotal-cf/pcf-bosh-ci/blob/master/Dockerfile). The Dockerfile specifies a `golang` Docker image with a few utilities installed, such as the [BOSH CLI](https://bosh.io/docs/bosh-cli.html), and outputs the image to a Docker Hub repo. Later jobs use this Docker image as their base image. 

